.heading{
    font-size: 35px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 20px;
}
.image{
    height: 200px;
    width: 100%;
    object-fit: contain;
}
.projectsContainer ,.ownProjects{
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
}

.project{
    width: 500px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 15px;
}
.name{
    font-size: 18px;
    margin-top: 5px;
    width: 25%;
    margin: auto;
    background-color: rgb(206, 204, 204);
    padding: 5px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}


.desContainer{
    width: 90%;
    margin: auto;
}
.description{
    font-size: 13px;
}
.techStack{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.tech{
    background-color: rgb(206, 204, 204);
    padding: 2px 15px;
    border-radius: 5px;
    font-size: 14px;
}

.intern{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.anchor{
    text-decoration: none;
    color: black;
}
.nameContainer{
    margin-top: 10px;
}
.projectsContainer{
    display: flex;
    justify-content: space-around;
}

.loader{
    margin-top: 30px;
}